
.cardContainer{
    
  display: flex;
  margin: 2% auto;
  margin-bottom: 7%;
  justify-content: center;

 

}



.buttonContainer{
    
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 3;
   
  }
