
.cardContainer{
    
  display: flex;
  margin: 2% auto;

  justify-content: center;

 

}

.loadingSvg{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.buttonContainer{
    
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 3%;
  width: 100%;
   
  }

  
